*.gz
*.dat
*.exe
*.dylib
*.so

logs/
doorstop_libs/
linux64/
**/steamapps/
**/valheim_server_Data/
**/unstripped_corlib/
valheim/server/winhttp.dll
valheim/server/config.json
valheim/server/discord.json
valheim/server/doorstop_config.ini
valheim/server/LinuxPlayer_s.debug
valheim/server/server_exit.drp
valheim/server/start_game_bepinex.sh
valheim/server/start_server.sh
valheim/server/start_server_bepinex.sh
valheim/server/start_server_xterm.sh
valheim/server/steam_appid.txt
valheim/server/UnityPlayer_s.debug
valheim/server/Valheim Dedicated Server Manual.pdf
valheim/server/valheim_server.x86_64
valheim/saves/worlds/Dedicated.db
valheim/saves/worlds/Dedicated.db.old
valheim/saves/worlds/Dedicated.fwl
valheim/saves/worlds/Dedicated.fwl.old
